# Git
.git
.gitignore
.gitattributes

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
artifacts/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Node.js Tools for Visual Studio
node_modules/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Docker
.docker/
LICENSE
README.md
